body {
  margin: 0;
  padding: 0;
}
.wrapper {
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  height: 50vh;
  display: flex;
  flex-direction: column;
  background: #000e40;
  color: #ffce00;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

main {
  height: 50vh;
  background: #335183;
  color: #ffce00;
  overflow: hidden;
}

main button {
  margin-top: 10%;
}

#container {
  height: 15vh;
}

ul li {
  list-style: none;
}

article {
  background: #404040;
  color: #ffce00;
  overflow: hidden;
  padding-bottom: 1rem;
}

#filters {
  width: 20%;
  margin: 0 auto;
}

.form-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 3rem;
}

.gods-name {
  font-size: 32px;
  display: inline-block;
}

.headshot {
  width: 7%;
  display: block;
  margin: 0 auto;
}

#characters {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.icons img {
  width: 30%;
}
